@import "../sass/utilities/initial-variables";
@import "../sass/utilities/functions";
@import "../bulma";

$blue: #72d0eb;
$pink: #ffb3b3;
$pink-invert: #fff;

$family-serif: "Merriweather", "Georgia", serif;
$colors: map-merge($colors, $addColors);
$box-color: $text;
$box-background-color: $pink;

